// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
	box-sizing: border-box;
}

#profilePicture {
	width:100%;
	height:250px;
} 
